<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js" defer></script>
    <style>
        .yes{
            font-style:italic
        }
        .no{
            color:red
        }
    </style>
</head>
<body>
    <div id="app">
        <h1 v-if="ok">Yes</h1>
        <h1 v-else>No</h1>
        <template v-if="ok">
            <li>i say yes</li>
            <li>you say no</li>
        </template>
        <div>
            <li v-if="num === 1">ONE</li>
            <li v-else-if="num === 2">TWO</li>
            <li v-else-if="num === 3">THREE</li>
            <li v-else-if="num === 1">SECOND ONE</li>
            <li v-else>OTHER</li>
        </div>
    </div>
</body>
</html>